.container {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  width: 20vw;
  position: fixed;
  top: 64px;
  right: 7.5vw;
  bottom: 32px;
  box-sizing: border-box;
  padding: 16px;
}

.userMenuContainer {
  padding: 8px 24px 16px;
}
